api_version: '3.0'
metadata:
  kind: vm
spec:
  cluster_reference:
    kind: cluster
    uuid: {{ cluster_uuid }}
  name: {{ vm.name }}
  resources:
    disk_list:
    - data_source_reference:
        kind: image
        uuid: {{ image_uuid }}
{% if vm.disk_list is defined %}
{% for disk in vm.disk_list %}
{% for k,v in disk.iteritems() %}
    - {{ k }}: {{ v }}
{% endfor %}
{% endfor %}
{% endif %}
    memory_size_mib: {{ vm.ram }}
    nic_list:
    - ip_endpoint_list:
      - ip: {{ vm.ip }}
      subnet_reference:
        kind: subnet
        uuid: {{ subnet_uuid }}
{% if vm.num_sockets is defined %}
    num_sockets: {{ vm.num_sockets }}
{% else %}
    num_sockets: 1
{% endif %}
{% if vm.num_cpu_per_socket is defined %}
    num_vcpus_per_socket: {{ vm.num_cpu_per_socket }}
{% else %}
    num_vcpus_per_socket: 1 
{% endif %}
    power_state: 'ON'
    hardware_clock_timezone: "{{ company_timezone }}"
